/rice_python_courses/intro_scripting_specialization/csv_file_processing/csv_processing.py
/rice_python_courses/intro_scripting_specialization/csv_file_processing/output1.csv
/rice_python_courses/intro_scripting_specialization/csv_file_processing/table6.csv
/rice_python_courses/intro_scripting_specialization/csv_file_processing/table5.csv
/rice_python_courses/intro_scripting_specialization/csv_file_processing/test.tsv
/rice_python_courses/intro_scripting_specialization/csv_file_processing/table7.csv
/rice_python_courses/intro_scripting_specialization/csv_file_processing/table3.csv
/rice_python_courses/intro_scripting_specialization/csv_file_processing/table2.csv
/rice_python_courses/intro_scripting_specialization/csv_file_processing/table1.csv
/rice_python_courses/intro_scripting_specialization/csv_file_processing/table4.csv
.vs/py-functions/v16/.suo
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
rice_python_courses/intro_scripting_specialization/python_data_visualization/project_wk2/isp_gdp_csv_files.zip
rice_python_courses/intro_scripting_specialization/python_data_visualization/project_wk2/.idea/inspectionProfiles/profiles_settings.xml
rice_python_courses/intro_scripting_specialization/python_data_visualization/project_wk2/.idea/misc.xml
rice_python_courses/intro_scripting_specialization/python_data_visualization/project_wk2/.idea/modules.xml
rice_python_courses/intro_scripting_specialization/python_data_visualization/project_wk2/.idea/project_wk2.iml
rice_python_courses/intro_scripting_specialization/python_data_visualization/project_wk2/.idea/vcs.xml
*.iml
.idea/
*.pyc
